<% metrics.each do |metric| %>
  <table class="nice">
  <tr>
  <th colspan="2" style="text-align: center;"><a name="<%= metric[:tag] %>"></a><%= vars.mysql_metrics_origin_v2 %>/<%= metric[:source]%></th>
  </tr>
  <tr>
    <th width="20%">Description</th>
    <td><%= metric[:description] %> </td>
  </tr>
  <tr>
    <th width="15%">Unit</th>
    <td><%= metric[:unit] %></td>
  </tr>
</table>
<br>
<% end %>
