<style>


main table {
  table-layout: fixed;
}

</style>

<% if defined?(id) %>
<a name="<%= id %>"></a>
<% end %>

<div>

  <table class="nice">
    <style>
      main table {
        table-layout: fixed;
      }
    </style>
  <col width="20%">
  <col width="80%">
  <tr>
  <th colspan="2" style="text-align: left;"> <br>
    <%= description %>
  <br><br></th>
  </tr>

<% if defined?(symptom) %>
  <tr>
    <th>Symptom</th>
    <td><%= symptom %></td>
  </tr>
<% end %>

<% if defined?(cause) %>
  <tr>
    <th>Cause</th>
    <td><%= cause %></td>
  </tr>
<% end %>

  <tr>
    <th style="vertical-align: top; padding-top: 1em;">Solution</th>
    <td><%= solution %></td>
  </tr>

</table>
</div>
