In the **Networking** pane, you configure security and routing services for your IaaS.

To configure the **Networking** pane:

1. For **Gorouter IPs** and **HAProxy IPs**, see the guidance below:
	* For **AWS**, **Azure**, and **GCP**, leave these fields blank. You do not need to complete these fields when deploying <%= vars.app_runtime_abbr %> on these infrastructures.
	* For **OpenStack** and **vSphere**, the values you enter in the **Gorouter IPs** and **HAProxy IPs** fields depend on whether you are using HAProxy in your deployment. Use the table below to determine how to complete these fields:
    <p class="note"><strong>Note:</strong> If you choose to assign specific IP addresses in either the <strong>Gorouter IPs</strong> or <strong>HAProxy IPs</strong> field, ensure that these IP addresses are in the subnet that you configured for <%= vars.app_runtime_abbr %> in <%= vars.ops_manager %>.</p>
	    <table border="1" class="nice" >
	      <tr>
	        <th><strong>Using HAProxy?</strong></th>
	        <th><strong>Gorouter IPs field</strong></th>
	        <th><strong>HAProxy IPs field</strong></th>
	      </tr>
	      <tr>
	        <td>No</td>
	        <td>
	        	<ol>
	        		<li>Choose IP addresses from the subnet you configured in <%= vars.ops_manager %>.</li>
	        		<li>Enter these IP addresses in the <strong>Gorouter IPs</strong> field. You should specify more than one IP address for high availability. The IP addresses must be within your subnet CIDR block.</li>
	        		<li>Configure your load balancer to forward requests for the domains that you have configured for your deployment to these IP addresses.</li>
	        	</ol>
	        </td>
	        <td>Leave this field blank.</td>
	      </tr>
	      <tr>
	        <td>Yes</td>
	        <td>Leave this field blank.</td>
	        <td>
	        	<ol>
	        		<li>Choose IP addresses from the subnet you configured in <%= vars.ops_manager %>.</li>
	        		<li>Enter these IP addresses in the <strong>HAProxy IPs</strong> field. You should specify more than one IP address for high availability. </li>
	        		<li>Configure your load balancer to forward requests for the domains you have configured for your deployment to these IP addresses.</li>
	        	</ol>
	      </tr>
	    </table>

1. For **SSH Proxy IPs** and **TCP router IPs**, see the guidance below:
	* For **AWS**, **Azure**, and **GCP**, leave these fields blank. You do not need to complete these fields when deploying <%= vars.app_runtime_abbr %> on these infrastructures.
	* For **OpenStack** and **vSphere**:
		* (Optional) In **SSH Proxy IPs**, add the IP address for your Diego Brain, which accepts requests to SSH into app containers on port 2222.
		* (Optional) In **TCP router IPs**, add the IP addresses you want to assign to the TCP routers. You enable this feature at the bottom of this pane.
  			<p class='note'><strong>Note:</strong> If you have mutual TLS app identity verification enabled, app containers accept incoming communication only from the Gorouter. This disables TCP routing.</p>

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_router_cert_config" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/router_haproxy_ca" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/min_tls_version" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/router_balancing_algorithm" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/ip_logging" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/xforwarded_client_cert_xfcc" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_client_cert_validation" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/gorouter_client_cert_validation" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tls_cipher_suites_router" %>
	 <p class='note'><strong>Note:</strong> AWS Classic Load Balancers do not support <%= vars.app_runtime_abbr %>'s default cipher suites. For more information about configuring your AWS load balancers and Gorouter, see <a href="../adminguide/securing-traffic.html#aws_elbs">TLS Cipher Suite Support by AWS Load Balancers</a> in <em>Securing Traffic into <%= vars.app_runtime_abbr %></em>.</p>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tls_cipher_suites_haproxy" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_router_tls_forward" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_hsts_config_cloudform" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/http_disable" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/insecure_cookies" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/zipkin_enable" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/enable_router_local_logs" %>
1. By default, <%= vars.app_runtime_abbr %> Gorouters handle traffic for apps deployed to an isolation segment created by the <%= vars.segment_runtime_full %> tile. To configure <%= vars.app_runtime_abbr %> Gorouters to reject requests for apps within isolation segments, enable the **Gorouters reject requests for isolation segments** checkbox. Do not enable this option without deploying Gorouters for each isolation segment. For more information, see [Installing <%= vars.segment_runtime_full %>](../customizing/installing-pcf-is.html) and [Sharding Gorouters for Isolation Segments](../adminguide/routing-is.html#sharding-routers-isolation-segment) in _Routing for Isolation Segments_.
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/enable-proxy-support" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/route_services" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/max_connections_backend" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/keepalive_connections" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/router_timeout_backend" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/frontend_idle_timeout" %>
1. (Optional) Use **Gorouter drain timeout** to specify the amount of time, in seconds, that the Gorouter continues to serve existing connections before shutting down. After the timeout is reached, all remaining connections are terminated so the Gorouter can restart. Set the value lower than back end request timeout and idle timeout to reduce the drain time during deploys. The default value is `900`.
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/lb_unhealthy_threshold" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/lb_healthy_threshold" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/http_headers_to_log" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/haproxy_request_max_buffer" %>
1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/protected_domains" %>
1. The **Loggregator port** defaults to 443 if left blank. For AWS environments that are not using an Application Load Balancer, enter `4443`.
1. For **Container network interface plugin**, select one of these options:
  * **Silk:** This option is the default container network interface (CNI) for <%= vars.app_runtime_abbr %>.
  * **External:** Select this if you are deploying the [VMware NSX-T Container Plug-in for <%= vars.app_runtime_abbr %>](https://network.pivotal.io/products/vmware-nsx-t).
      - If you select **External**, follow the instructions in [Deploying <%= vars.app_runtime_abbr %> with NSX-T Networking](vsphere-nsx-t.html) in addition to the <%= vars.app_runtime_abbr %> configuration instructions in this topic.
<p class='note warning'><strong>Warning:</strong> The NSX-T integration only works for fresh installs of <%= vars.app_runtime_abbr %>. If your <%= vars.app_runtime_abbr %> tile is already deployed and running with Silk as its CNI, you cannot change the CNI plugin to NSX-T.</p>

1. If you selected **Silk** in the previous step, review these fields:
    <ol>
      <li><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/app_mtu" %> </li>
      <li><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/c2c-overlay" %></li>
      <li><%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/c2c-vxlan" %></li>
      <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/log-app-traffic-enable" %>
      <li> The **Enable Silk network policy enforcement** checkbox is selected by default. To disable Silk network policy enforcement between apps, disable the checkbox. Disabling network policy enforcement allows all apps to send network traffic to all other apps in the foundation despite no policy specifically allowing it.</li>
      <p class='note warning'><strong>Warning:</strong> Disabling this feature allows all app containers to access any other app container with no restrictions.</p>
    </ol>
  </li>

1. For **DNS search domains**, enter the domains for your app containers to use as DNS search domains.
Specify multiple DNS search domains as a comma-separated list.

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/networking_database_timeout" %>

1. <%= partial "/pcf/core/#{vars.current_major_version.sub('.', '-')}/tcp_routing_enable" %><a id='tcp-routing-enable'></a>

1. (Optional) For additional security, enter headers that you want the Gorouter to remove from app responses in **Remove specified HTTP response headers**.

1. (Optional) In the **Sticky session cookies** field, enter one or more sticky session cookie names.
The default cookie name is `JSESSIONID`.
Some apps require a different cookie name.
For example, Spring WebFlux requires `SESSION` for the cookie name.
Gorouter uses these cookies to support session affinity, or _sticky sessions_.
For more information, see [Session Affinity](../concepts/http-routing.html#sessions) in _HTTP Routing_.

1. Click **Save**.
