<p>
  To use <%= vars.product_short %> with your <%= vars.app_runtime_abbr %> apps, you must:
  <ul>
    <% if vars.product_short == "Tanzu SQL for VMs" %>
        <li>
          Decide what type of plan you want from the following options: single node, leader-follower,
          highly available (HA) cluster, and <%= vars.single_leader_plan %>.
          <%= vars.single_leader_plan %> is used to deploy a leader-follower service instance across multiple foundations or data centers.
          Your marketplace might not offer all of these plan types.<br>
          For more information about service plans, see <a href="./availability-options.html">Availability Options</a>.
        </li>
        <li>
          If you intend to use a <%= vars.single_leader_plan %> plan for deploying a leader-follower service instance
          across multiple foundations or data centers, review the limitations associated with this topology.<br>
          For more information, see <a href="./about-multi-site.html#limitations"><%= vars.single_leader_plan %> Limitations</a>.
        </li>
        <li>
          If you intend to use an HA cluster plan, review the limitations associated with this plan type.<br>
          For more information, see <a href="./about-ha.html#limitations">Highly Available Cluster Limitations</a>.
        </li>
    <% end %>

    <li>Have an <%= vars.ops_manager %> installation with <%= vars.product_short %> installed and listed in the Marketplace.<br>
    For how to verify availability in the Marketplace, see <a href="#marketplace">Confirm Service Availability</a> below.</li>

    <li>Have a Space Developer or Admin account on the <%= vars.app_runtime_abbr %> installation.<br>
    For more information, see <a href="http://docs.pivotal.io/pivotalcf/concepts/roles.html#roles">User Roles</a>.</li>

    <li>
      Have a local machine with the following installed:
      <ul>
       <li>A browser</li>
       <li>A shell</li>
       <li>The Cloud Foundry Command-Line Interface (cf CLI).
         See <a href="http://docs.pivotal.io/pivotalcf/cf-cli/install-go-cli.html">Installing the cf CLI</a>.</li>
       <li>The Linux watch command.
        See the <a href="http://www.linfo.org/watch.html">Linux Information Project website</a>.
      </ul>
    </li>

    <li>Log in to the org and space containing your app. For instructions, see
      <a href="https://docs.pivotal.io/application-service/cf-cli/getting-started.html#login">Log In With the CLI</a>.
    </li>
  </ul>
</p>
