<p>
On-demand <%= product_short %> services use BOSH to dynamically deploy VMs and create single-tenant
service instances in a dedicated network.
On-demand services use the dynamically-provisioned service network to host single-tenant worker VMs.
These worker VMs run as service instances within development spaces.
</p>

<p>
This on-demand architecture has the following advantages:
<ul>
<li>Developers can provision IaaS resources for their services instances when the instances are created.
This removes the need for operators to pre-provision a fixed amount of IaaS resources
  when they deploy the service broker.</li>
<li>Service instances run on a dedicated VM and do not share VMs with unrelated processes.
This removes the "noisy neighbor" problem, where an app monopolizes resources on a shared cluster.</li>
<li>Single-tenant services can support regulatory compliances where
  sensitive data must be separated across different machines.</li>
</ul>
</p>

<p>
An on-demand service separates operations between the default network and the
service network. Shared service components, such as executive controllers and databases,
Cloud Controller, UAA, and other on-demand components, run on the default network.
Worker pools deployed to specific spaces run on the service network.
</p>

<p>
The diagram below shows worker VMs in an on-demand service instance
running on a separate services network, while other components run on the default
network.
</p>

<%# There are two diagrams: a Pivotal-branded diagram and a VMware-branded diagram. %>

<% if vars.product_short == "On-Demand Services SDK" || vars.product_short == "Tanzu GemFire" || vars.product_short == "Pivotal Cloud Cache" %>

<% if vars.app_runtime_abbr == "TAS for VMs" %>
<img src="<%= vars.path_to_partials %>/images/odb-architecture-vmware.png"
alt="Diagram of the default network and services network as described in this section.">
<a href="<%= vars.path_to_partials %>/images/odb-architecture-vmware.png" target="_blank">View a larger version of this image</a>
<% else %>
<img src="<%= vars.path_to_partials %>/images/odb-architecture.png"
alt="Diagram of the default network and services network as described in this section.">
<a href="<%= vars.path_to_partials %>/images/odb-architecture.png" target="_blank">View a larger version of this image</a>
<% end %>

<% else %>

<% if vars.app_runtime_abbr == "TAS for VMs" %>
<img src="./images/odb-architecture-vmware.png"
alt="Diagram of the default network and services network as described in this section.">
<a href="./images/odb-architecture-vmware.png" target="_blank">View a larger version of this image</a>
<% else %>
<img src="./images/odb-architecture.png"
alt="Diagram of the default network and services network as described in this section.">
<a href="./images/odb-architecture.png" target="_blank">View a larger version of this image</a>
<% end %>

<% end %>
