<p>
<%= vars.product_short %> v<%= product_info['local_product_version'] %> is a
long-term supported (LTS) version.
<%= vars.product_short %> v<%= product_info['local_product_version'] %> is
supported through <%= eogs_date %>.
</p>
<p>
Over the lifecycle of <%= vars.product_short %> v<%= product_info['local_product_version'] %>,
VMware will release security patches that occasionally include feature enhancements
and maintenance updates.
</p>
<p>
For more information about <%= vars.product_short %> v<%= product_info['local_product_version'] %>
LTS, please contact your Account Team.
</p>
