In the **Networking** pane, you configure security and routing services for your IaaS.

To configure the **Networking** pane:

1. For **Gorouter IPs** and **HAProxy IPs**, see the guidance below:
	* For **AWS**, **Azure**, and **GCP**, leave these fields blank. You do not need to complete these fields when deploying <%= vars.app_runtime_abbr %> on these infrastructures.
	* For **OpenStack** and **vSphere**, the values you enter in the **Gorouter IPs** and **HAProxy IPs** fields depend on whether you are using HAProxy in your deployment. Use the table below to determine how to complete these fields:
    <p class="note"><strong>Note:</strong> If you choose to assign specific IP addresses in either the <strong>Gorouter IPs</strong> or <strong>HAProxy IPs</strong> field, ensure that these IP addresses are in the subnet that you configured for <%= vars.app_runtime_abbr %> in <%= vars.ops_manager %>.</p>
	    <table border="1" class="nice" >
	      <tr>
	        <th><strong>Using HAProxy?</strong></th>
	        <th><strong>Gorouter IPs field</strong></th>
	        <th><strong>HAProxy IPs field</strong></th>
	      </tr>
	      <tr>
	        <td>No</td>
	        <td>
	        	<ol>
	        		<li>Choose IP addresses from the subnet you configured in <%= vars.ops_manager %>.</li>
	        		<li>Enter these IP addresses in the <strong>Gorouter IPs</strong> field. You should specify more than one IP address for high availability. The IP addresses must be within your subnet CIDR block.</li>
	        		<li>Configure your load balancer to forward requests for the domains that you have configured for your deployment to these IP addresses.</li>
	        	</ol>
	        </td>
	        <td>Leave this field blank.</td>
	      </tr>
	      <tr>
	        <td>Yes</td>
	        <td>Leave this field blank.</td>
	        <td>
	        	<ol>
	        		<li>Choose IP addresses from the subnet you configured in <%= vars.ops_manager %>.</li>
	        		<li>Enter these IP addresses in the <strong>HAProxy IPs</strong> field. You should specify more than one IP address for high availability. </li>
	        		<li>Configure your load balancer to forward requests for the domains you have configured for your deployment to these IP addresses.</li>
	        	</ol>
	      </tr>
	    </table>

1. For **SSH Proxy IPs** and **TCP router IPs**, see the guidance below:
	* For **AWS**, **Azure**, and **GCP**, leave these fields blank. You do not need to complete these fields when deploying <%= vars.app_runtime_abbr %> on these infrastructures.
	* For **OpenStack** and **vSphere**:
		* (Optional) In **SSH Proxy IPs**, add the IP address for your Diego Brain, which accepts requests to SSH into app containers on port 2222.
		* (Optional) In **TCP router IPs**, add the IP addresses you want to assign to the TCP routers. You enable this feature at the bottom of this pane.
  			<p class='note'><strong>Note:</strong> If you have mutual TLS app identity verification enabled, app containers accept incoming communication only from the Gorouter. This disables TCP routing.</p>

