In the **System Logging** pane, you can configure system logging in <%= vars.app_runtime_abbr %> to forward log messages from <%= vars.app_runtime_abbr %> component VMs to an external service. <%= vars.recommended_by %> recommends forwarding logs to an external service for use in troubleshooting. If you do not fill these fields, platform logs are not forwarded but remain available on the component VMs and for download through <%= vars.ops_manager %>.

<p class="note"><strong>Note:</strong> The following instructions explain how to configure system logging for <%= vars.app_runtime_abbr %> component VMs. To forward logs from <%= vars.platform_name %> tiles to an external service, you must also configure system logging in each tile. For more information about configuring system logging, see the documentation for the given tiles.</p>

To configure the **System Logging** pane:

1. Select **System Logging**.

1. For **Address**, enter the hostname or IP address of the syslog server.

1. For **Port**, enter the port of the syslog server. The default port for a syslog server is 514.
  <p class="note"><strong>Note:</strong> The host must be reachable from the <%= vars.app_runtime_abbr %> network and accept UDP or TCP connections. Ensure the syslog server listens on external interfaces.</p>

1. For **Transport protocol**, select a transport protocol for log forwarding.

1. For **Encrypt syslog using TLS?**, select **Yes** to use TLS encryption when forwarding logs to a remote server.
  1. For **Permitted peer**, enter either the name or SHA1 fingerprint of the remote peer.
  1. For **Destination certificate**, enter the TLS CA certificate for the remote server.

1. For **Number of syslog drain addresses to retrieve**, enter the number of apps with syslog drain addresses to retrieve from Cloud Controller per request.

1. Disable the **Include container metrics in syslog drains** checkbox to prevent the CF Drain CLI plugin from including app container metrics in syslog drains. This feature is enabled by default. For more information about the CF Drain CLI plugin, see [CF Drain CLI Plugin](https://github.com/cloudfoundry/cf-drain-cli) in GitHub.

1. Select the **Enable syslog egress through Syslog Agents** checkbox to use the Syslog Agent for syslog egress. Agent-based syslog provides an alternative to scalable-syslog architecture. For more information about the Syslog Agent, see [Loggregator Architecture and Components](../loggregator/architecture.html#components) in _Loggregator Architecture_.
  <p class="note"><strong>Note:</strong> Selecting this checkbox disables the Syslog Adapter and Syslog Scheduler VMs to prevent log duplication.</p>
  <p class='note breaking'><strong>Breaking Change:</strong> If you enable Syslog Agents in <%= vars.app_runtime_abbr %> v2.7.7 or later, new metadata tags for app logs and metrics are added to outgoing syslog messages. You must update any external monitoring configuration you use to account for the new format and tags. For more information, see <a href='https://docs.pivotal.io/application-service/2-7/release-notes/runtime-rn.html#syslog-agent-metadata'>Metadata Tags for Metrics and App Logs</a> in <em><%= vars.app_runtime_abbr %> Breaking Changes</em>.</p>

1. Select the **Enable Cloud Controller security event logging** checkbox to include security events in the log stream. This feature logs all API requests, including the endpoint, user, source IP address, and request result, in the Common Event Format (CEF).

1. Enable the **Use TCP for file forwarding local transport** checkbox to transmit logs over TCP. This prevents log truncation, but may cause performance issues.

1. The **Do not forward debug logs** checkbox is enabled by default. To forward `DEBUG` syslog messages to an external service, disable the checkbox.
  <p class="note"><strong>Note:</strong> Some <%= vars.app_runtime_abbr %> components generate a high volume of <code>DEBUG</code> syslog messages. Enabling the <strong>Do not forward debug logs</strong> checkbox prevents <%= vars.app_runtime_abbr %> components from forwarding the <code>DEBUG</code> syslog messages to external services. However, <%= vars.app_runtime_abbr %> still writes the messages to the local disk.</p>

1. For **Custom rsyslog configuration**, enter a custom syslog rule. For more information about adding custom syslog rules, see [Customizing Platform Log Forwarding](../customizing/custom-syslog-rules.html).

1. Select the **Enable system metrics** checkbox to emit system-level metrics about all VMs in the deployment. For a list of the VM metrics that the System Metric Agent emits, see [loggregator-agent-release](https://github.com/cloudfoundry/loggregator-agent-release#vm-metrics) repository on GitHub.

1. Select the **Enable V1 Firehose** checkbox to allow logs and metrics to flow to the V1 Firehose.
  <p class="note"><strong>Note:</strong> If you disable the V1 Firehose, then you must upgrade the cf CLI to v6.50 or later. Earlier versions of the cf CLI return errors when you run the <code>cf push</code> and <code>cf logs</code> commands. For more information, see [Errors Viewing App Logs after Disabling v1 Firehose](../release-notes/runtime-rn.html#cf-cli-firehose-errors) in the _PAS Release Notes_.</p>
1. Click **Save**.

To configure <%= vars.ops_manager %> for system logging, see [Settings Page](../customizing/pcf-interface.html#settings) section in the _Using the <%= vars.ops_manager %> Interface_.
