To enable TCP routing:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard.

1. Click the **<%= vars.app_runtime_full %>** tile.

1. Select **Networking**.

1. Under **TCP routing**, select **Enable**.

1. For **TCP router IPs**, enter the IP addresses to assign to the TCP routers as multiple
values as a comma-separated list or as a range. For example, `10.254.0.1, 10.254.0.2` or
`10.254.0.1-10.254.0.2`. These addresses must be within your subnet CIDR block. The addresses
are the same IP addresses with which you configured your load balancer in [Prerequisites
for  Enabling TCP Routing](#prerequisites) above, unless you configured DNS to resolve the
TCP domain name directly to an IP for the TCP router.

1. For **TCP routing ports**, enter one or more ports to which the load balancer forwards
requests. To support multiple TCP routes, <%= vars.company_name %> recommends allocating
multiple ports. Do one of the following:
    * To allocate a single port or range of ports, enter a single port or a range of ports.
      <p class="note"><strong>Note:</strong> If you configured AWS for <%= vars.app_runtime_abbr %>
        manually, enter <code>1024-1123</code>. This range of ports corresponds to the rules
        you created for <code><%= vars.platform_name_lc %>-tcp-elb</code>.</p>
    * To allocate a list of ports:
      1. Enter a single port in the **TCP routing ports** field.
      1. After deploying <%= vars.app_runtime_abbr %>, follow the procedure in [Modify TCP
      Port Reservations](#modify-ports) below to add TCP routing ports using the cf CLI.

1. (Optional) For **TCP request timeout**, modify the default value of `300` seconds. This
field determines when the TCP router closes idle connections from clients to apps that use
TCP routes. You may want to increase this value to enable developers to push apps that require
long-running idle connections with clients.

1. For AWS, Azure, or GCP <%= vars.platform_name %> deployments, add the name of your load
balancer to the **TCP Router** field in the **Resource Config** pane of the <%= vars.app_runtime_abbr %>
tile. For more information, see [Configuring Load Balancing for <%= vars.app_runtime_abbr %>]
(../operating/configure-lb.html).
