The general requirements for deploying and managing a <%= vars.platform_name %> deployment with <%= vars.ops_manager %> and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) are:

* A wildcard DNS record that points to your Gorouter or load balancer. Alternatively, you can use a service such as xip.io. For example, `203.0.113.0.xip.io`.
  * <%= vars.app_runtime_abbr %> gives each app its own hostname in your app domain.
  * With a wildcard DNS record, every hostname in your domain resolves to the IP address of your Gorouter or load balancer, and you do not need to configure an A record for each app hostname. For example, if you create a DNS record `*.example.com` pointing to your load balancer or Gorouter, every app deployed to the `example.com` domain resolves to the IP address of your Gorouter.

* At least one wildcard TLS certificate that matches the DNS record you set up above, `*.example.com`.

* Sufficient IP allocation:
  * One static IP address for either HAProxy or one of your Gorouters.
  * One static IP address for each job in the <%= vars.ops_manager %> tile. For a full list, see the **Resource Config** pane for each tile.
  * One static IP address for each job listed below:
      * Consul
      * NATS
      * File Storage
      * MySQL Proxy
      * MySQL Server
      * Backup Restore Node
      * HAProxy
      * Router
      * MySQL Monitor
      * Diego Brain
      * TCP Router
  * One IP for each VM instance created by the service.
  * An additional IP address for each compilation worker. The formula for total IPs needed is `IPs needed = static IPs + VM instances + compilation workers`.
    <p class="note"><strong>Note:</strong> <%= vars.recommended_by %> recommends that you allocate at least 36 dynamic IP addresses when deploying <%= vars.ops_manager %> and <%= vars.app_runtime_abbr %>. BOSH requires additional dynamic IP addresses during installation to compile and deploy VMs, install <%= vars.app_runtime_abbr %>, and connect to services.</p>

* One or more NTP servers if not already provided by your IaaS.

* (**Recommended**) A network without DHCP available for deploying the <%= vars.app_runtime_abbr %> VMs.
  <p class="note"><strong>Note:</strong> If you have DHCP, see <a href="https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/troubleshooting.html">Troubleshooting Guide</a> for guidance on avoiding issues with your installation.</p>

* (**Optional**) External storage. When you deploy <%= vars.app_runtime_abbr %>, you can select internal file storage or external file storage, either network-accessible or IaaS-provided, as an option in the <%= vars.app_runtime_abbr %> tile. <%= vars.recommended_by %> recommends using external storage whenever possible. For more information about how file storage location affects platform performance and stability during upgrades, see [Configure File Storage](https://docs.pivotal.io/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/operating/configuring.html#file-storage) in _Configuring <%= vars.app_runtime_abbr %> for Upgrades_.

* (**Optional**) External databases. When you deploy <%= vars.app_runtime_abbr %>, you can select internal or external databases for the BOSH Director and for <%= vars.app_runtime_abbr %>. <%= vars.recommended_by %> recommends using external databases in production deployments. An external database must be configured to use the UTC timezone.

* (**Optional**) External user stores. When you deploy <%= vars.app_runtime_abbr %>, you can select a SAML user store for <%= vars.ops_manager %> or a SAML or LDAP user store for <%= vars.app_runtime_abbr %>, to integrate existing user accounts.

* The most recent version of the [Cloud Foundry Command Line Interface](https://github.com/cloudfoundry/cli#downloads) (cf CLI).

&nbsp;
[//]: # (This nbsp fixes header format issue after partials)
